<style>
  .nav-link{
    color: white;
  }
  .footer{
    color: white;
  }
  .btn{
    color: white;
  }
  *{
    scroll-behavior: smooth;
  }

</style>
<footer id="mdb-footer" class="mt-5" style="background-color:#212529; ">
  <div class="container py-2">
      <div class="text-center">
        <a href="/" class="btn btn- btn-lg"><i class="fas fa-home ms-2"></i></a>
        <a href="/peoples" class="btn btn- btn-lg"><i class="fas fa-user ms-2"></i></a>
      <a href="/about/page" class="btn btn- btn-lg"><i class="fas fa-info ms-2"></i></a>
      </div>
  </div>
  <div class="text-center p-1" style="background-color: #212529;">© 2023
      Copyright:
      <a class="" href="/"> <strong>RailsBook</strong></a>
  </div>
  
</footer>