<style>
    .img{
        width: 150px;
        height: auto;
    }
</style>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <%= image_tag('img/ruby.png',class:"d-block mx-auto mb-4 img")%>

        <h1 class="display-5 fw-bold">About <a href="/">RailsBook</a> </h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia cumque commodi doloremque numquam eum dolores ratione rem veniam voluptates modi doloribus aliquid aliquam cum excepturi provident consectetur, laborum cupiditate explicabo placeat quibusdam est tempore nemo enim nam! Expedita aspernatur iste corporis ipsum dolor tempore cum tempora, delectus possimus neque perferendis temporibus </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <%= link_to 'Homepage',posts_path,class: 'btn btn-dark btn-lg px-4 gap-3'%>
            <%= link_to 'Back',:back ,class: 'btn btn-outline-dark btn-lg px-4 gap-3'%>
        </div>
        </div>
    </div>
</div>